node_modules
.next
.env
.env.local
.env.production
.env.development
.git
.gitignore
database/backup/*.dump
database/backup/*.sql
npm-debug.log
README-INSTALL.md
*.zip
tools/license-generator/keys/
tools/license-generator/.env
