# Local DB HR Docker Environment
NEXT_PUBLIC_APP_VERSION=v0.8.1-beta

# App
APP_PORT=3000
APP_URL=http://localhost:3000
AUTH_SECRET=change_this_to_a_long_random_secret

# PostgreSQL
POSTGRES_DB=local_db_hr
POSTGRES_USER=local_db_hr_user
POSTGRES_PASSWORD=change_this_password
POSTGRES_PORT=5432
